html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
}

.row {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 1rem; /* Adjust as needed */
}
